@font-face {
    font-family: 'custom';
    src: url('/css/fonts/signature-font/housttelysignature-qzo4r-webfont.woff2') format('woff2'),
         url('/css/fonts/signature-font/housttelysignature-qzo4r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntu_monoregular';
    src: url('/css/fonts/ubuntu-font/ubuntumono-r-webfont.woff2') format('woff2'),
         url('/css/fonts/ubuntu-font/ubuntumono-r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'ubuntu_monoregular','Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: right;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: none;
    filter: brightness(50%);
}

.display_picture {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  border-radius: 50%;
}

.display_picture:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 1);
}

h1.my_name {
    font-family: 'custom';
    font-size: 4em;
    text-align: right;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}


p.about_me {
    font-family: 'ubuntu_monoregular';
    font-size: 1.0em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}