@font-face {
    font-family: 'custom';
    src: url('/css/fonts/signature-font/housttelysignature-qzo4r-webfont.woff2') format('woff2'),
         url('/css/fonts/signature-font/housttelysignature-qzo4r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntu_monoregular';
    src: url('/css/fonts/ubuntu-font/ubuntumono-r-webfont.woff2') format('woff2'),
         url('/css/fonts/ubuntu-font/ubuntumono-r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.page_title {
    font-family:'Amatic SC', cursive;
    font-size: 3em;
    text-align: center;
    font-weight: 500; 
    color: #999;
}

body {
    font-family: 'Poppins', 'sans-serif';
    margin: 60px auto;
    width: 70%;
    background-image: linear-gradient(to right,rgb(43, 88, 118),rgb(78, 67, 118)); 
    background-size: cover;
}
nav ul, footer ul {
  
    font-family: 'Amatic SC', cursive;
    list-style: inline;
    font-weight: bold;
    text-align: center;
    font-weight: 500;
    padding: 10px 25px;
}
nav ul li, footer ul li {
    display: inline;
    padding: 10px 6px;
    font-size: 2em;

}

.align_center{
    text-align: center;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: none;
    filter: brightness(150%);
}

.display_picture {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  align-self: center;
  border-radius: 50%;
}

.display_picture:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 1);
}

h1.my_name {
    font-family: 'Amatic SC', cursive;
    font-size: 4em;
    text-align: center;
    color: #999;
}

h1 {
    font-size: 3em;
    font-family:'Poppins', 'sans-serif', 'Arial', 'Sans-Serif';
}


p.about_me {
    font-family: 'Neucha', cursive;
    font-size: 1.0em;
    line-height: 1.4em;
    color: #999;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    font-family: 'Neucha', cursive;
}

ul.posts li {
    list-style: none;
    font-family: 'Neucha', cursive;
    font-size: 1em;
}

.entity {
    font-family: 'Neucha', cursive;
    color: #999;
}

.post_data {
    font-family: 'Neucha', cursive;
    color: #999;
}

.post_meta {
    font-family: 'Neucha', cursive;
    color: #999;
}

.blog_details_page_title {
    font-family: 'Neucha', cursive;
    color: #999;
}

.my_data {
    z-index : 99999;
}
