@font-face {
    font-family: 'custom';
    src: url('/css/fonts/signature-font/housttelysignature-qzo4r-webfont.woff2') format('woff2'),
         url('/css/fonts/signature-font/housttelysignature-qzo4r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntu_monoregular';
    src: url('/css/fonts/ubuntu-font/ubuntumono-r-webfont.woff2') format('woff2'),
         url('/css/fonts/ubuntu-font/ubuntumono-r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#particles-js {
    height: 100%;
    background-image: linear-gradient(to right,rgb(67, 206, 162),rgb(24, 90, 157)) no-repeat center center fixed; 
    background-size: cover;
}

h1.blog_title {
    font-family:'ubuntu_monoregular';
    font-size: 3em;
    text-align: center;
}

body {
    font-family:'ubuntu_monoregular';
    margin: 60px auto;
    width: 100%;
}
nav ul, footer ul {
    font-family:'ubuntu_monoregular','Helvetica', 'Arial', 'Sans-Serif';
    padding: 10px;
    list-style: none;
    font-weight: bold;
    text-align: center;
}
nav ul li, footer ul li {
    display: inline;
}

.align_center{
    text-align: center;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: none;
    filter: brightness(50%);
}

.display_picture {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  align-self: center;
  border-radius: 50%;
}

.display_picture:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 1);
}

h1.my_name {
    font-family:'ubuntu_monoregular';
    font-size: 4em;
    text-align: center;
}

h1 {
    font-size: 3em;
    font-family:'ubuntu_monoregular', 'Arial', 'Sans-Serif';
}


p.about_me {
    font-family: 'ubuntu_monoregular';
    font-size: 1.0em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    font-family: 'ubuntu_monoregular';
}

ul.posts li {
    list-style: none;
    font-family: 'ubuntu_monoregular';
    font-size: 1em;
}