<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">
			<script src="/particles.js"></script>
			<script src="/app.js"></script>
		</head>
		<body>				
			<div class="my_data">
				<nav>
					<ul>
						<li><a href="/">HOME</a></li>
						<li><a href="/about">ABOUT</a></li>
						<li><a href="/cv">CV</a></li>
						<li><a href="/blog">BLOG</a></li>
					</ul>
				</nav>
					<div class="container">
					
					{{ content }}
					
					</div><!-- /.container -->
				<footer>
					<ul>
						<li><a href="mailto:kanagasalamsanjev@gmail.com">Email</a></li>
						<li><a href="https://github.com/sanjevk">GitHub</a></li>
						<li><a href="https://twitter.com/sanjevk">Twitter</a></li>
						<li><a href="https://medium.com/@kanagasalamsanjev">Medium</a></li>
					</ul>
				</footer>
			</div>
			<div id="particles-js"></div>
		</body>
	</html>